<footer>
    <!--<div>
        <h1>Follow us</h1>
        <ul>
            <li><a href="https://www.instagram.com/inlo.official/" target="_blank" rel="noopener noreferrer">@inlo_media</a></li>
            <li><a href="https://www.instagram.com/inlocalgary/" target="_blank" rel="noopener noreferrer">@inlocalgary</a></li>
            <li><a href="https://www.instagram.com/inlovancouver/" target="_blank" rel="noopener noreferrer">@inlovancouver</a></li>
            <li><a href="https://www.instagram.com/inlonewyork/" target="_blank" rel="noopener noreferrer">@inlonewyork</a></li>
            <li><a href="https://www.instagram.com/inlosanfrancisco/" target="_blank" rel="noopener noreferrer">@inlosanfrancisco</a></li>
            <li><a href="https://twitter.com/INLO_Official" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        </ul>
    </div>
    <div>
        <h1>Follow us</h1>
        <ul>
            <li><a href="https://www.instagram.com/inlo.official/" target="_blank" rel="noopener noreferrer">@inlo_media</a></li>
            <li><a href="https://www.instagram.com/inlocalgary/" target="_blank" rel="noopener noreferrer">@inlocalgary</a></li>
            <li><a href="https://www.instagram.com/inlovancouver/" target="_blank" rel="noopener noreferrer">@inlovancouver</a></li>
            <li><a href="https://www.instagram.com/inlonewyork/" target="_blank" rel="noopener noreferrer">@inlonewyork</a></li>
            <li><a href="https://www.instagram.com/inlosanfrancisco/" target="_blank" rel="noopener noreferrer">@inlosanfrancisco</a></li>
            <li><a href="https://twitter.com/INLO_Official" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        </ul>
    </div>
    <div>
        <h1>Follow us</h1>
        <ul>
            <li><a href="https://www.instagram.com/inlo.official/" target="_blank" rel="noopener noreferrer">@inlo_media</a></li>
            <li><a href="https://www.instagram.com/inlocalgary/" target="_blank" rel="noopener noreferrer">@inlocalgary</a></li>
            <li><a href="https://www.instagram.com/inlovancouver/" target="_blank" rel="noopener noreferrer">@inlovancouver</a></li>
            <li><a href="https://www.instagram.com/inlonewyork/" target="_blank" rel="noopener noreferrer">@inlonewyork</a></li>
            <li><a href="https://www.instagram.com/inlosanfrancisco/" target="_blank" rel="noopener noreferrer">@inlosanfrancisco</a></li>
            <li><a href="https://twitter.com/INLO_Official" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        </ul>
    </div>-->
   
    All content produced by the Indigenous National Liberation Organization is
    licensed under a <a rel="license"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative
        Commons Attribution-NonCommercial-ShareAlike 4.0 International
        License</a>.
</footer>