<nav class="nav-alt">
  <a href="{{ '/' | relative_url }}"
     class="{% if page.url == '/' %}active{% endif %}">
    HOME
  </a>

  <a href="{{ '/program/' | relative_url }}"
     class="{% if page.url == '/program/' %}active{% endif %}">
    PROGRAM
  </a>

  <a href="{{ '/news/' | relative_url }}"
     class="{% if page.url == '/news/' %}active{% endif %}">
    NEWS
  </a>
</nav>

<script>
  const hamburger = document.querySelector('.hamburger');
  const nav = document.querySelector('.nav-alt');

  hamburger.addEventListener('click', () => {
    nav.classList.toggle('open');
  });
</script>