/* RESET */

*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */
@font-face {
  font-family: "G.I.";
  src: url("/assets/fonts/GI/G.I.-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "G.I.";
  src: url("/assets/fonts/GI/G.I.-530.ttf") format("truetype");
  font-weight: 530;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "G.I.";
  src: url("/assets/fonts/GI/G.I.-750.ttf") format("truetype");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "G.I.";
  src: url("/assets/fonts/GI/G.I.-400Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "G.I.";
  src: url("/assets/fonts/GI/G.I.-530Italic.ttf") format("truetype");
  font-weight: 530;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "G.I.";
  src: url("/assets/fonts/GI/G.I.-750Italic.ttf") format("truetype");
  font-weight: 750;
  font-style: italic;
  font-display: swap;
}

/* VARIABLES */

:root {
    --color-bg: #241e1e;
    --color-text: #f4f2f3;
    --color-primary: #f7b61e;
    --color-muted: #7f7777;
    --color-border: #c3bbbb;
    --color-accent: #f7b61e;
    --color-link-hover: #4b3d3d;

    --font-body: "G.I.", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-heading: "G.I.", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --max-width: 1150px;
    --spacing: 1rem;
    --radius: 8px;
}

/* === BASE === */

body {
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

body {
  flex: 1;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* TYPOGRAPHY */

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  line-height: 1.2;
  margin-bottom: calc(var(--spacing) * 0.75);
}

h1 {
  font-size: 1.25rem;
  font-weight: normal;
  border-bottom: 1px solid var(--color-border);
  width:100%
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  margin-bottom: calc(var(--spacing) * 2);
  text-align: left;
}

/* LAYOUT */

header, main, footer {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 0;
}

main {
  min-height: 60vh;
  padding-block: calc(var(--spacing));
}

/* HEADER/NAV */


.wordmark {
  height: auto;
  max-width: 160px;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  padding-block: calc(var(--spacing));
  border-bottom: 1px solid var(--color-border);
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.site-title {
  font-size: 18px;
  display: block;
}

/* === NAV === */

.main-nav {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    width: max-content;
    align-items: center;
}

.main-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-decoration: none;
    padding: 0 16px;
    align-items: center;
    color: var(--color-text);
}

.main-nav a:hover {
  background-color: var(--color-link-hover);
}

.main-nav a.active {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.main-nav a:nth-child(2) {
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
}

/* === HAMBURGER === */
.hamburger {
  display: none;
  background: none;
  border: none;
  color: #ddd;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width:600px) {
  .hamburger {
    display: block;
  }

  .main-nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 32px;
    flex-direction: column;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
  }

  .main-nav.open {
    display: flex;
  }

  .main-nav a {
    width: 100%;
    box-sizing: border-box;
  }
}


/* FOOTER */
footer {
  padding-block: calc(var(--spacing));
  text-align: center;
  color: var(--color-muted);
  font-size: 0.85rem;
  margin-top: auto;
  background-color: var(--color-bg);
}

footer a {
  color: var(--color-link-alt);
  text-decoration: underline;
}

/* CUSTOM */
/*.nav-button {
  color: var(--color-text);
}

.nav-button.active {
  color: var(--color-bg);
  background-color: var(--color-accent);
  padding: 5px 10px;
}*/

.hero {
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.join-link {
  margin-top: auto;
  font-size: 1.1rem;
}

.hero .container {
  display: flex;
  flex-direction: column;
}

.hero-image {
  max-width: 50%;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  border: 1px solid var(--color-border)
}
 
main ol {
  list-style-position: inside;
  counter-reset: item;
  padding-left: 0;
}

ol li {
  position: relative;
  display: flex;
  align-items: baseline;
  counter-increment: item;
  margin-bottom: 2px;
}

ol li::before {
  content: counter(item) ".";
  margin-right: 10px;
  width: 2ch;
}


@media only screen and (max-width: 1000px) {
  .site-title {
    display: none;
  }
  .wordmark {
    max-width: 200px;
  }
  nav {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1214px) {
  body {
    padding-inline: calc(var(--spacing) * 2);
  }
}

@media only screen and (max-width: 700px) {
p {
    text-align: justify;
  }

  footer {
    font-size: 0.6rem;
    text-align: justify;
  }


  .hero-image {
        display: none;
  }
}