---
layout: wrapper
---

<div class="content">
    <div class="hero">
        <div class="container">

            {% if page.image %}
            <img
                src="{{ page.image | relative_url }}"
                class="hero-image"
                alt="{{ page.image_alt }}"
            >
            {% endif %}

            <h1>OUR PARTY</h1>

            {{ content }}

            <a href="{{ '/join' | relative_url }}" class="join-link">JOIN OUR FIGHT →</a>

        </div>
    </div>
</div>